body {
    background-color: silver;
    font-size: 13px;
}

h1 {
    color: black;
}

h2 {
    color: black;
}

code {
    color: black;
}

code1 {
    color: blue
}

code2 {
    color: purple
}

pre {
    color: black;
}

fas fa-long-arrow-alt-left {
    color: black
}