body {
    font-family: 'Arial', sans-serif;
    background-color: #c48181;
    text-align: center;
    padding: 20px;
    margin: 0;
}

h1 {
    font-size: 36px;
    color: #000;
    margin-bottom: 30px;
}

#output {
    font-size: 24px;
    margin: 20px 0;
}

button {
    font-size: 18px;
    margin: 10px;
    padding: 12px 24px;
    cursor: pointer;
    background-color: #fbff00;
    color: #000;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b6b306;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}